@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: "Roboto", san-serif;
  --font-text: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  margin: auto;
  min-width: 22vw;
  max-width: 175vw;
}

.logo {
  width: 5vw;
}

.icon {
  width: 3.5 vw;
  min-height: 3.5vh;
}
