@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: "Play", san-serif;
  --font-text: "poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

p,
span {
  font-family: var(--font-text);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

main {
  margin: auto;
  min-width: 22vw;
  max-width: 175vw;
}

.logo {
  width: 5vw;
}

.icon {
  width: 3.5 vw;
  min-height: 3.5vh;
}

.play {
  font-family: "Play", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.oswald {
  font-family: "Oswald", sans-serif;
}

svg {
  color: rgb(186, 152, 13);
}

@media screen and (max-width: 770px) {
  .menu-normal {
    display: none;
  }
  .menu-labels {
    display: none;
  }
  .banner-responsive {
    display: none;
  }

  .responsive-button,
  .responsive-text {
    width: 22rem;
  }

  .responsive-title {
    text-decoration: none;
  }

  .responsive-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .responsive-estradas {
    font-size: 2.5rem;
  }

  .margin-left {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .image-responsive {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .menu-hamburguer {
    display: none;
  }

  .menu-icons {
    display: none;
  }
}
