@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: "Roboto", san-serif;
  --font-text: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  min-width: 22vw;
  max-width: 175vw;
}

.logo {
  width: 5vw;
}

.icon {
  width: 3.5 vw;
  min-height: 3.5vh;
}

.play {
  font-family: "Play", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}
.cinzel {
  font-family: "Cinzel", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

svg {
  color: rgb(186, 152, 13);
}

@media screen and (max-width: 770px) {
  .menu-normal {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .menu-hamburguer {
    display: none;
  }
}
