.menu {
  background-color: aliceblue;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.navBarLink {
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  color: black;
  cursor: pointer;
}

.menuTotal {
  height: 1000px;
  width: 80px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;

  position: fixed;
}

.menuIcon {
  width: 50px;
  height: 50px;
}

.navBar {
  background-color: aliceblue;
  width: 350px;
  height: 100%;
}
